#first {
    background-color: lightgrey;
    position: relative;
    left: 25%;
    width: 600px;
    height: 600px;
  }  
#yellow, #blue, #green {
        width: 200px;
        height: 200px;
}
#yellow {
    position: absolute;
    background-color: yellow;
    top: 33.33%;
    left: 33.33%;   
}
#blue {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: blue
}
#green {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: green
}
