body > fieldset {
    background-color: salmon;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 1px 2px;
}
body label {
    color: skyblue
}
input[type="text"] {
    border-color: #0f0;
}
input[type="email"] {
    background-color: #0C3CF0;
}
button.send-order {
    background-color: #4CAF50;
}
button[type="reset"] {
    background-color: #E74C3C;
} 

/* body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}
fieldset {
    width: 60%;
    background-color: beige;
}
legend > h4 {
    font-weight: 800;
    color: #17202A;
}
input[type="text"], input[type="email"]{
    border-color: #17202A;
    background-color: #F0F3F4;
}
input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red;
}
input[type="radio"],
input[type="checkbox"]:checked {
    accent-color: green
}
button.send-order {
    background-color: #4CAF50;
}
button[type="reset"]{
    background-color: #E74C3C;
} */